:root {
  --heading-font: "AR One Sans", sans-serif;
  --default-font: "Mohave", sans-serif;
  --brand-color: #bdbbb0;
}

.navbar-font {
  font-family: var(--default-font);
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  text-align: center;
  font-size: 58px;
  padding-top: 80px;
}

p {
  font-family: var(--default-font);
}

.hero {
  padding-top: 50px;
  background-color: var(--brand-color);
}

.hero p {
  font-family: var(--default-font);
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}

.avatar {
  width: 310px;
}

h2 {
  font-family: var(--heading-font);
  text-align: center;
  font-weight: bold;
  padding: 30px 0;
}

h2 a {
  text-decoration: none;
  color: black;
}

.recent-projects {
  text-align: center;
  font-family: var(--default-font);
  font-size: 30px;
  max-width: 80%;
  margin: 0 auto;
}

.recent-projects img {
  background-color: var(--brand-color);
}

footer {
  text-align: center;
  padding-top: 70px;
  font-size: 50px;
  padding-bottom: 20px;
}

footer a {
  margin: 0 20px;
  text-decoration: none;
  color: var(--brand-color);
}

.hero-about {
  padding-top: 50px;
  background-color: var(--brand-color);
}
.hero-about p {
  font-family: var(--default-font);
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}

.about-me {
  padding: 30px 220px;
}

.top-certificate {
  display: block;
  margin: 10px auto;
  width: 60%;
}

.certificates-s {
  display: block;
  font-family: var(--default-font);
  font-size: 30px;
  max-width: 80%;
  margin: 10px auto;
}
.certificates-l {
  display: block;
  font-family: var(--default-font);
  font-size: 30px;
  max-width: 75%;
  margin: 10px auto;
}

.cv {
  text-align: center;
  font-size: 22px;
}
.cv a {
  color: var(--brand-color);
}

.projects-header {
  background-color: var(--brand-color);
  padding: 70px 0;
}

h3 {
  font-family: var(--heading-font);
  font-weight: bold;
}

.tool-logos img {
  max-width: 50px;
}

.project-image {
  text-align: center;
  font-family: var(--default-font);
  font-size: 30px;
  max-width: 90%;
  margin: 50px auto;
}

.project-button {
  background-color: var(--brand-color);
  font-family: var(--default-font);
  font-weight: bold;
  color: black;
}

.contact-info {
  margin: 20px 40px;
  font-size: 28px;
}

.contact-info a {
  color: var(--brand-color);
}

.form {
  font-family: var(--default-font);
}

#submit {
  display: block;
  margin: 20px auto;
  background-color: var(--brand-color);
  padding: 5px 20px;
  font-family: var(--default-font);
  border: solid 1px var(--brand-color);
  transition: all ease-in-out 150ms;
}

#submit:hover {
  background-color: white;
  color: var(--brand-color);
  border: solid 1px var(--brand-color);
}

@media (max-width: 1400px) {
  .tool-logos img {
    max-width: 40px;
  }
  .project-description h2 {
    padding-top: 0;
  }
}

@media (max-width: 950px) {
  h1 {
    padding-top: 20px;
    font-size: 42px;
  }
  .hero p {
    font-size: 20px;
    padding-top: 30px;
  }

  .avatar {
    width: 250px;
  }

  .hero-about {
    padding-bottom: 20px;
  }
  .hero-about p {
    font-size: 20px;
    padding-top: 30px;
  }
  .about-me {
    padding: 10px;
    margin: 0 35px;
  }
  .tool-logos img {
    max-width: 30px;
  }
  .project-description {
    font-size: 20px;
  }
  .project-description h2 {
    padding-top: 0;
  }
  .contact-info {
    font-size: 24px;
  }
}

@media (max-width: 725px) {
  .top-certificate {
    width: 80%;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 32px;
    padding-top: 0;
  }
  .hero p {
    font-size: 18px;
    padding-top: 10px;
  }
  .hero-about {
    padding-bottom: 20px;
  }
  .hero-about p {
    font-size: 18px;
    padding-top: 10px;
  }
  .avatar {
    width: 200px;
  }
  footer {
    font-size: 30px;
  }
  .about-me {
    padding: 10px;
    margin: 0 35px;
  }
  .tool-logos img {
    max-width: 20px;
  }
  .projects-header {
    padding: 30px 0;
  }
  .project-description {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .contact-info {
    font-size: 18px;
  }
}
